.bg-black{
  background-color: black;
}
.fullheight{
  min-height: 110vh;
}
.bg-green{
  background-color: #bbed25;
}
.bg-gray{
  background-color: #4b4b4b;
}
.bg-white{
  background-color: #eaeaea;
}
h1{
  font-size: 5rem;
  font-weight: 800;
}
.wave{
  max-height: 10vh;
  width: 100%;
}
.wave use{
  transform: translate3d(-90px, 0, 0);
  animation: wave 3s cubic-bezier(0.72, 0.52, 0.54, 0.71) infinite;
}
h3{
  font-size: 2rem;
  font-weight: 600;
}
a{
  text-decoration: none;
}
@media(max-width: 768px){
  h1{
    font-size: 3rem;
    font-weight: 800;
  }
  h3{
    font-size: 1.25rem;
    font-weight: 600;
  }

}